<p>
  <%= @professional.name %>
</p>
<p>
  <%= @professional.job_description %>
</p>
<p>
  <%= @professional.pro_id %>
</p>
<p>
  <%= @professional.office %>
</p>
<p>
  <%= @professional.address %>
</p>
<p>
  <%= @professional.city %>
</p>
<p>
  <%= @professional.appointment %>
</p>
<p>
  <%= @professional.price %>
</p>
<p>
  <%= image_tag(@professional.photo, :style => "width: 100px;") %>
</p>
